
<div class="col-sm-8">
  <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="userForm.reset()" >
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="user.firstName"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="lastName" name="lastName" required="required" [(ngModel)]="user.lastName"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="employeeId" class="col-sm-2 col-form-label">Employee ID:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="employeeId" name="employeeId" required [(ngModel)]="user.employeeId"/>
        </div>
    </div>
    
    <div class="col-sm-8">
      <div *ngIf="update; else elseBlock" class="col-sm-6" style="text-align: center">
              <button type = "button" class="btn btn-success" (click)="updateUser(user)">Update</button>
      </div>
      <ng-template #elseBlock>
      <div class="col-sm-6" style="text-align: center">
            <button type = "submit" class="btn btn-success" (click)="addUser(user);">Add</button>
        </div>
      </ng-template>
        <div class="col-sm-2">  
          <button type = "reset" class="btn btn-light">Reset</button>
        </div>
      </div>
  </form>
  </div>
  <div class="col-sm-8">
      <hr/>
      <div style="margin-top: 20px;">
          <div class="col-sm-3">
            <input type="text" placeholder="Search" class="form-control" id="search" name="search" [(ngModel)]="search"/>
          </div>
            <div class="col-sm-1">
                <label class="col-form-label">Sort:</label>
            </div>
            <div class="col-sm-2">
                <button type = "reset" class="btn btn-light">First Name</button>
            </div>
            <div class="col-sm-2">
                <button type = "reset" class="btn btn-light">Last Name</button>
            </div>
            <div class="col-sm-2">
                <button type = "reset" class="btn btn-light">Id</button>
            </div>
          </div>
        <div *ngFor = "let user of userItems | userfilter: { firstName: search}">
          <div class="col-sm-8" style="margin-top: 10px;">
            <div class="view">{{user.firstName}}</div>
            <div class="view">{{user.lastName}}</div>
            <div class="view">{{user.employeeId}}</div>
          </div>
          <div class="col-sm-2" style="margin-top: 10px;">
              <button type = "button" class="btn btn-light" (click)="enableUpdate(user)">Edit</button>
              <button type = "button" class="btn btn-light" (click)="deleteUser(user)">Delete</button>
          </div>
        </div>
  
  </div>
 

  
